<div class="">
  <h1></h1>
  <div><p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
    Aenean commodo ligula eget dolor. Aenean massa. 
    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
  </div>
  <div class="col-12 main-section">
    <div class="col-4 main-section__image-row">
      <%= image_tag('Orange-logo.svg') %>
    </div>
    <div class="col-12 row main-section__image-row">
      <div class="col-6">
        <%= image_tag('vodacom-logo.jpg') %>
      </div>
      <div class="col-6">
        <%= image_tag('airtel-logo.jpg') %>
      </div>
    </div>
    <div class="col-4 main-section__image-row">
      <%= image_tag('Africell-logo.png') %>
    </div>
  </div>
<div>
