/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

 @import "bootstrap";

 html, body {
  height: 100%;
 }

 body {
  display: flex;
  flex-direction: column;
 }

 .navbar-section {
   min-height: 55px;
 }

 #main-content {
    max-width: 1280px;
    padding: 1.5rem;
    flex: 1 0 auto;

    .main-section {
      &__image-row {
        margin: auto;
    
        img {
          // width: 40%;
          max-height: 190px;
        }
      }
    }
  }

 footer {
  flex-shrink: 0;
  margin: auto;
  color: red;
 }
